$color-dark-darkest: #000
$color-dark-primary: lighten($color-dark-darkest, 20%)
$color-dark-secondary: lighten($color-dark-darkest, 40%)
$color-dark-fade: lighten($color-dark-darkest, 65%)
$color-dark-lightest: lighten($color-dark-darkest, 80%)

$color-light-lightest: #fff
$color-light-primary: darken($color-light-lightest, 20%)
$color-light-secondary: darken($color-light-lightest, 40%)
$color-light-fade: darken($color-light-lightest, 65%)
$color-light-darkest: darken($color-light-lightest, 80%)



$border-radius-simple: 2px

$nav-bar-height: 56px
$nav-sidebar-width: 200px

@import "variables/color"