@import "variables"
@import "bootstrap_overrides"
@import "notify"
@import "Navigation/dashboard"
@import "Navigation/sidebar"
@import "Navigation/main"

@import "querybox"

.action
  float: right
  background: none
  border: 0

.router
  cursor: pointer

.icon-group
  i.fa:first-child:not(.fa-fw)
    margin-right: .6em

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>thead>tr>td,
.table>thead>tr>th
  padding: 14px 8px

.table.table-comfortable thead th,
.table.table-comfortable tbody td,
.table.table-comfortable tfoot td
  line-height: 20px
  vertical-align: middle

.table.table-comfortable tfoot td,
.table.table-comfortable tfoot td .btn
  font-weight: bold

@media screen and (max-width : 768px)
  .icon-group
    i.fa:first-child:not(.fa-fw)
      margin-right: 0

@media print
  dashboard, sidebar, notify
    display: none