@import "variables"
@import "bootstrap_overrides"

.dashboard
  background-color: #fff
  position: fixed
  top: 0
  left: 0
  right: 0
  line-height: $nav-bar-height
  vertical-align: middle
  height: $nav-bar-height
  font-size: 18px
  border-bottom: 1px solid $color-dark-lightest
  text-align: right
  z-index: 1

.dash-wrap
  position: relative

.toggleSidebar
  display: none
  text-align: center
  left: 0
  position: absolute
  height: $nav-bar-height
  width: $nav-bar-height

@import "shelf/_shelf"

.action
  float: right
  background: none
  border: 0

.router
  cursor: pointer

.icon-group
  i.fa:first-child:not(.fa-fw)
    margin-right: .6em

.table.table-comfortable thead th,
.table.table-comfortable tfoot td,
.table.table-comfortable tbody td
  line-height: 20px
  vertical-align: middle

tfoot
  font-weight: bold

@media screen and (max-width : 768px)
  .icon-group
    i.fa:first-child:not(.fa-fw)
      margin-right: 0