.shelf
  position: relative
  margin-top: $nav-bar-height
  padding-top: 24px

.sidebar
  padding-top: 24px
  position: fixed
  top: $nav-bar-height
  bottom: 0
  overflow-x: hidden
  background: #fff

  ul.nav
    width: $nav-sidebar-width
    font-size: 16px
    padding-right: 1.6em

  a
    color: inherit

  a > i
    margin-right: .6em

  a.router-link-active
    color: $color-accent-light
    font-weight: bold

.main
  position: absolute
  left: $nav-sidebar-width
  right: 0

  .shelf-drawer
    position: relative

  .shelf-drawer ul
    position: absolute
    bottom: 0
    right: 12px

    li:not(:last-child)
      padding-right: .4em

  ul.nav
    line-height: 1

    a.action
      color: #fff
      background: $color-primary-base
      border: 1px solid $color-primary-dark

    a.action:hover
      background: $color-primary-hover

    a.action:active
      background: $color-primary-active
      border-color: $color-primary-hover

    a.action.alert
      margin: 0
      background: $color-alert-base
      border: 1px solid $color-alert-dark

    a.action.alert:hover
      background: $color-alert-hover

    a.action.alert:active
      background: $color-alert-active
      border-color: $color-alert-hover


@media screen and (max-width : 768px)
  .toggleSidebar
    display: block !important

  .sidebar
    z-index: 1
    border-right: 1px solid $color-dark-lightest
    transition: width 300ms ease-in-out
    width: 0
    left: 0

    ul.nav
      width: auto
      min-width: 230px
      padding: 0 1.4em

  .sidebar.open
    width: 75%

  .main
    left: 0

@media screen and (max-width : 992px)
  .main .shelf-drawer ul
    position: relative
    padding: .4em 1em